.header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding-top: 6.4rem;
}

.header h1 {
    font-size: 3.6rem;
    text-transform: uppercase;
    letter-spacing: 16px;
    color: var(--white);
}

.header button {
    border: none;
    outline: none;
    background: transparent;
    cursor: pointer;
}
